.contato {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media (max-width: 768px) {
    .contato {
        flex-direction: column;
    }
    .contato__imagem {
        display: none;
    }
}
