.banner__link {
    display: flex;
    gap: 0.5rem;
    font-weight: 500;
}

.banner__link::after {
    background-image: url(../../img/icone_link.svg);
    background-repeat: no-repeat;
    content: "";
    height: 24px;
    width: 24px;
}

@media (max-width: 390px) {
    .banner__link {
        font-size: 0.875rem;
        font-weight: 600;
    }
    .banner__link::after {
        height: 16px;
        width: 16px;
    }
    
}