:root {
    font-family: "Raleway", sans-serif;
}

body {
    color: #d8d8d8;
    background: linear-gradient(
        120deg,
        rgba(152, 44, 250, 1) 0%,
        rgb(65, 24, 139) 50%,
        rgba(152, 44, 250, 1) 100%
    );
}

.container {
    padding: 32px 10%;
}

section.container:nth-child(even) {
    background: rgba(95, 95, 95, 0.1);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.escondido {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.visivel {
    opacity: 1;
    filter: blur(0);
}

input {
    color: #464646;
    font-family: "Raleway", sans-serif;
}
