:root {
    font-family: "Raleway", sans-serif;
}

body {
    color: #d8d8d8;
    background: linear-gradient(
        130deg,
        rgba(12, 68, 138, 1) 0%,
        rgba(12, 66, 134, 1) 20%,
        rgba(5, 25, 51, 1) 100%
    );
}

.container {
    padding: 0 10%;
    margin-bottom: 2rem;
}

section.container:nth-child(even) {
    background: rgba(12, 68, 138, 0.1);
}

.escondido {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.visivel {
    opacity: 1;
    filter: blur(0);
}
