:root {
    font-family: "Raleway", sans-serif;
}

body {
    color: #d8d8d8;
    background: linear-gradient(
        180deg,
        rgba(12, 68, 138, 1) 0%,
        rgba(8, 45, 91, 1) 41%,
        rgba(5, 25, 51, 1) 100%
    );
}

.container {
    padding: 0 10%;
    margin-bottom: 2rem;
}

section.container:nth-child(even) {
    background: rgba(12, 68, 138, 0.1);
}
